body{
  background-color: #9266ff;
}
.App{
  background-color:#3f3160 ;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
  border-radius: 10px;
}

#to-do-form input{
  background-color: rgb(27, 112, 137);
  border: 0;
  width: 200px;
  height: 52px;
  margin: 20px;
  padding: 0 20px;
  border-radius:8px;
  font-size: 18px;
  color: white;
}


#to-do-form input::placeholder{
  color: rgba(255, 255, 255, 0.5);
}


#to-do-form input:focus, #to-do-form button:focus{
  outline: none;
}

#to-do-form button{
  width: 80px;
  height: 50px;
  border-radius: 4px;
  border: 0;
  background-color: rgb(127, 21, 149);
  color: white;
  font-weight: bolder;
  cursor: pointer;
}